.toyota{
    color: #e6adb2;
    font-family: -apple-system;
    font-size: 100%;
}
.mercedes{
    color: #c7da20;
    font-family: "DejaVu Sans"
ul;
}
.nisasan{
    color: #ff003b;
    font-family: Samanata;
}
#others{
    color: darkgoldenrod;
    font-family: KacstScreen;
}
